project:
  type: website
  output-dir: docs

website:
  title: "Marcel Ferreira's Lab"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - research.qmd
      - pubs.qmd
      - training.qmd
      - about.qmd

format:
  html:
    theme: journal
    css: styles.css
    toc: true

editor: visual

